body {
    background-color: #f1f1f1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}



#welcome {
    border: 2px solid #000;
    z-index: 1;
    width: 77.5%;
    height: 79.7%;
    top: 2%;
    left: 9.5%;
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 4%;
    padding-left: 2.5%;
    background-color: #ff8737;
    color: #424242;
    font-family: "Montserrat-Light";
    font-size: 150%;
    position: absolute;
}


#exitWelcomebtn {
    top: 4%;
    left: 94%;
    color: #9098A2;
    font-family: "Montserrat-Light";
    font-size: 200%;
    cursor: pointer;
    position: absolute;

}

#exitWelcomebtn:hover {
    color: #005780;
}




#gameArea {
    visibility: visible;
}

#gameCanvas {
    border: 2px solid #000;
    width: 83%;
    height: 94.5%;
    position: absolute;
    left: 9.5%;
    top: 2%;
    background-color: rgb(0, 0, 0);
}

#playerHand {
    border: 2px solid rgb(255, 255, 255);
    width: 82%;
    height: 26%;
    position: absolute;
    left: 10%;
    top: 59%;
    background-color: rgb(190, 0, 0);
}

#playerCards {
    width: 99%;
    height: 24%;
    position: absolute;
    left: 0.5%;
    top: 2%;
}

#pile {
    width: 7.5%;
    height: 25%;
    position: absolute;
    left: 45%;
    top: 32%;
    background-color: rgb(255, 255, 255);
}

#gegnerHand {
    border: 2px solid rgb(255, 255, 255);
    width: 82%;
    height: 26%;
    position: absolute;
    left: 10%;
    top: 4%;
    background-color: rgb(190, 0, 0);
}

#gegnerCards {
    width: 99%;
    height: 24%;
    position: absolute;
    left: 0.5%;
    top: 2%;
}



#gameStats {
    border: 2px solid rgb(255, 255, 255);
    width: 82%;
    height: 8%;
    position: absolute;
    left: 10%;
    top: 87%;
    background-color: rgb(209, 209, 209);
}







#infoButton {
    z-index: 0;
    background-color: #FFFFFF;
    border: 2px solid #000;
    width: 2.8%;
    height: 5.5%;
    top: 2%;
    left: 95%;
    border-radius: 50%;
    color: #2b559c;
    font-family: "Montserrat-Regular";
    font-size: 100%;
    text-align: center;
    line-height: 220%;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
    position: absolute;
}

#infoButton:hover {
    background-color: #2b559c;
    color: #FFFFFF;
}

#infoButton:active {
    top: 2.2%;
}


#infoScreen {
    border: 2px solid #000;
    z-index: 0;
    width: 60%;
    height: 57%;
    top: 10%;
    left: 17%;
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 4%;
    padding-left: 2.5%;
    border-radius: 2em;
    background-color: #ffffff;
    color: #424242;
    font-family: "Montserrat-Light";
    font-size: 80%;
    position: absolute;
}

#exitButton {
    top: 3%;
    left: 95.5%;
    color: #9098A2;
    font-family: "Montserrat-Light";
    font-size: 200%;
    cursor: pointer;
    position: absolute;
}

#exitButton:hover {
    color: #005780;
}


#infos {
    background-color: #EEEEEE;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

#rulehead {
    width: 50%;
    height: 83%;
    padding-left: 2%;
    font-size:x-large
}

#rules {
    width: 50%;
    height: 83%;
    padding-left: 2%;
    font-size:medium    ;
}
